* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(clouds.jpg);
  background-size: cover;
  background-position: center;
  display: fixed;
}

main {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-top: 3.5%;
}

.foto img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.textos {
  align-items: center;
}

.nome {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
  margin-top: 15px;
  position: relative;
  color: white;
}

.bio {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 5px;
  color: rgb(202, 200, 200);
}

#container {
  width: 50%;
  margin: 0 auto;
  margin-top: 35px;
}

a {
  text-decoration: none;
  user-select: none;
}

.link {
  width: 100%;
  height: 48px;
  user-select: none;
  display: flex;
  border-radius: 50px;
  margin-bottom: 20px;
  color: rgb(48, 48, 48);
  font-size: 19px;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  background: rgb(204, 204, 204);
  text-decoration: none;
}


.link:hover {
  outline: 2px solid rgb(236, 236, 236);
  outline-offset: -2px;
  color: white;
  background: transparent;
}

.icone {
  width: 42px;
  display: absolute;
  left: 0;
  top: 0;
}

@media only screen and (max-width : 600px) {
  #container {
     width: 90%;
  }

  main {
    margin-top: 10%;
  }

  .nome {
    margin-top: 8px;
  }

  .link {
    margin-bottom: 13px;
  }
}
